/** 蓝叶工具箱
 ** 在线影视库
 ** time:2022-07-20
 **/
.input-group{width:calc(100% - 30px);margin-bottom:10px !important;margin:0 15px;}.input-group textarea{outline:none;resize:none;padding:10px;height:300px;border-radius:6px !important;background:rgba(255 255 255 / 60%);}.btn{border:0;margin-right:5px;margin-bottom:10px;}.btn:focus{outline:none;outline-offset:0;}.btn-wrap{margin:15px}.btn-warning{background-color:#3e913e !important;border-color:#3e913e !important;}.warning{position:fixed;left:0;right:0;margin:0 auto;top:20%;background:rgb(221 39 39 / 53%);width:100px;text-align:center;color:#fff;padding:10px;border-radius:6px;display:none;z-index:9999}
#iframebox{border:1px solid #ccc;margin: 0 15px;width: calc(100% - 30px);}
#playbox{border-radius:6px;width:calc(100% - 0px);background:#000 url(../image/moviebg.jpg) no-repeat center;background-size:contain;}
input::selection{background:#000 !important;color:#fff !important}
#searchtext{height:40px}
#searchbtn{font-size:14px;padding:10px}
.hotlist a{margin:0 10px 10px 0;color:#31708f}
.table{background:#fff;border-radius:4px}

.relative{position:relative}.relative .fixed{background:#fff;z-index:10;position:absolute !important;right:0;}#caidan{z-index:10;background:#fff;position:absolute;right:70px;}#wrap{max-width:1200px !important;margin-top:30px !important;}#menu{max-width:1200px !important;padding: 0;}.footer{text-align:center;padding:10px;color:#a94442;}a{color:#a94442}audio,video{width:100%;max-height:550px;background:rgba(0,0,0,0.9)}button:focus{border:0}.opendeng{z-index:10; position:fixed;top:70px;left:0;right:0;margin:0 auto;width:100%;max-width:1400px}.opendeng video{max-height:600px}#bodybg{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:1;opacity:0.9;filter:alpha(Opacity=90);-moz-opacity:0.9;}
.videolist{width: 100%;display: inline-block;padding-bottom:0;}.videolist a {margin: 0 5px 10px;padding: 10px;background: #fff;color: #000;border-radius: 4px;width: calc(10% - 10px);text-align: center;
}.videolist a.curr,.videolist a:hover{background:#0cf;color:#fff;padding:10px;text-decoration:none;}.fixsearch{position:fixed;top:52px;left:0;height:calc(100% - 52px);border-radius:0;}
.listbox{width: 100%;display: flex;flex-wrap: wrap;}
.morelist{display:none;background:#4576e2;border: 1px solid #fff;text-align: center;color: #fff;padding: 10px;cursor: pointer;font-size:16px;border-radius:4px;}
.morelist:hover{background:#00aff0;}
.closemode{height:100px; overflow:hidden}
.listimg{position:relative}
.listimg .bg{background:rgb(0 0 0 / 0.5);width:calc(100% - 40px);height: 25px;bottom: 25px;z-index: 9;position:absolute;}
.listimg .title{z-index:10;position:absolute;width:calc(100% - 50px);height:25px;bottom:22px;font-size:14px;color:#fff;text-align:center;margin:0 5px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.listimg img{min-height:200px;max-height:200px;min-width:160px}
@media screen and (max-width: 799px){
#wrap{margin:30px 10px 0 !important}
video{max-height:200px}#menu{padding:0 15px}
.videolist a{margin:0 10px 10px !important;width:calc(20% - 20px);text-align:center}
.movietime,.movietimes{display:none}
.listimg img{min-width:100%}
.listbox{max-height:800px;overflow-y:auto;}
}
@media screen and (max-width: 660px){
.videolist a{width:calc(25% - 20px);}
}
@media screen and (max-width: 760px){
.videolist a{width:calc(33% - 20px);}
}
/*nprogress*/
#nprogress{pointer-events:none;}
#nprogress .bar{background:#F8A231;position:fixed;z-index:1031;top:0;left:0;width:100%;height:5px;}
#nprogress .peg{display:block;position:absolute;right:0px;width:100px;height:100%;box-shadow:0 0 10px #29d, 0 0 5px #29d;opacity:1.0;-webkit-transform: rotate(3deg) translate(0px, -4px);-ms-transform: rotate(3deg) translate(0px, -4px);transform: rotate(3deg) translate(0px, -4px);}
#nprogress .spinner{display:block;position:fixed;z-index:1031;top:15px;right:15px;}
#nprogress .spinner-icon{width:18px;height:18px;box-sizing:border-box;border:solid 2px transparent;border-top-color:#29d; border-left-color:#29d;border-radius:50%;-webkit-animation: nprogress-spinner 400ms linear infinite;animation: nprogress-spinner 400ms linear infinite;}
.nprogress-custom-parent{overflow:hidden;position:relative;}
.nprogress-custom-parent #nprogress .spinner,.nprogress-custom-parent #nprogress .bar{position:absolute;}
@-webkit-keyframes nprogress-spinner{0%{ -webkit-transform: rotate(0deg);}100%{-webkit-transform: rotate(360deg);}}
@keyframes nprogress-spinner{0%{ transform: rotate(0deg);}100%{transform: rotate(360deg);}
}
.bodybg{display:none;position:fixed;z-index:9990;background:#000;width:100%;height:100%;top:0;left:0;}
.dengbtn{position:fixed;bottom:50px;right:-2px;z-index:10000;background:#eee;width:70px;padding:10px 0;text-align:center;font-size:14px;border-radius:4px 0 0 4px;cursor:pointer;}
.heivideo{position:fixed;z-index:9991;margin:auto;left:0;right:0;width:1200px;max-height:660px;top:0;bottom:0;}
.heideng{background:#242424;color:#fff;}
.noscroll{overflow:hidden}
.loadwrap{display:none;width:100%;height:100vh;position:fixed;top:0;z-index:10000;background-color:rgba(0,0,0,.1)}.loaderbox{width:140px;height:120px;text-align:center;position:absolute;top:calc(50% - 60px);left:calc(50% - 60px);padding-top:15px;background-color:rgba(0,0,0,.5);border-radius:5px}#loader-1{width:60px;height:60px}.load-msg{height:50px;line-height:50px;color:#fff;font-size:13px}svg path,svg rect{fill:#fff}
.refreshText{position:absolute;width:100%;line-height:50px;text-align:center;left:0;top:0;transform:translateY(-50px);}